node_modules
.next
.next-dev
.dev
dist
.env
data/*.db
data/*.db-journal
data/*.db-wal
data/*.db-shm
prisma/data/*.db
prisma/data/*.db-journal
prisma/data/*.db-wal
prisma/data/*.db-shm
tsconfig.tsbuildinfo
